<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../../config.js"></script>
  <script src="../../utils.js"></script>
  <script>
    loadBasePath(BASE_PATH);
  </script>
  <link rel="stylesheet" href="layout/layout.css" />
  <link rel="stylesheet" href="variables.css" />
  <link rel="stylesheet" href="pages/basket/basket_pages.css" />
  <title>3čko</title>
</head>
<body>
<div id="header"></div>

<div class="main-content">
  <div id="sidebar"></div>

  <main class="basket-step-page">
    <div class="basket-step-top basket-step-top-right-only">
      <a class="basket-step-back-right" href="pages/index.html">
        ↩ späť na prehliadávanie
      </a>
    </div>

    <section class="basket-step-content basket-thank-you-page">
      <div class="basket-thank-you-message">
        <h1>Ďakujeme za nákup</h1>
        <h2>3čko</h2>
      </div>
    </section>
  </main>
</div>

<div id="footer"></div>

<script>
  loadComponent("header", "layout/header.html");
  loadComponent("sidebar", "layout/sidebar.html");
  loadComponent("footer", "layout/footer.html");
</script>
</body>
</html>