<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../config.js"></script>
    <script src="../../utils.js"></script>
    <script>
      loadBasePath(BASE_PATH);
    </script>
    <link rel="stylesheet" href="layout/layout.css" />
    <link rel="stylesheet" href="variables.css" />
    <title>3čko</title>
  </head>
  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main>
        <h1>Zadajte svoju adresu tu</h1>
        <a href="pages/basket/basket_delivery_and_payment.html">Spat</a>
        <a href="pages/basket/basket_payment_details.html">Dalej</a>
      </main>
    </div>
  </body>
  <script>
    loadComponent("header", "layout/header.html");
    loadComponent("sidebar", "layout/sidebar.html");
  </script>
</html>

<style>
  main {
    text-align: center;
  }
</style>
