<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../config.js"></script>
    <script src="../../utils.js"></script>
    <script>
      loadBasePath(BASE_PATH);
    </script>
    <link rel="stylesheet" href="layout/layout.css" />
    <link rel="stylesheet" href="variables.css" />
    <link rel="stylesheet" href="pages/basket/basket_pages.css" />
    <title>3čko</title>
  </head>

  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main class="basket-page">
        <section class="basket-header">
          <h1>Prehľad košíka</h1>
          <a class="basket-back-link" href="pages/index.html"
            >↩ späť na prehliadanie</a
          >
        </section>

        <section class="basket-items">
          <article class="basket-item">
            <h2 class="basket-item-title">Modré Tričko</h2>

            <button class="basket-remove-btn">x</button>

            <div class="basket-item-content">
              <a href="pages/product-detail.html" class="basket-item-image-box">
                <img class="basket-item-image" src="assets/blue_t_shirt.png" alt="Product Photo"></img>
             </a>

              <div class="basket-item-details">
                <div class="basket-quantity-row">
                  <span class="basket-quantity-text">Množstvo: 2</span>

                  <div class="basket-quantity-buttons">
                    <button type="button">+</button>
                    <button type="button">-</button>
                  </div>
                </div>

                <div class="basket-price-box">Cena: 45,98€</div>
              </div>
            </div>
          </article>

          <article class="basket-item">
            <h2 class="basket-item-title">Názov Produktu</h2>

            <button class="basket-remove-btn">x</button>

            <div class="basket-item-content">
              <a href="pages/product-detail.html" class="basket-item-image-box">
                <img class="basket-item-image" src="assets/blue_t_shirt.png" alt="Product Photo"></img>
              </a>

              <div class="basket-item-details">
                <div class="basket-quantity-row">
                  <span class="basket-quantity-text">Množstvo: X</span>

                  <div class="basket-quantity-buttons">
                    <button type="button">+</button>
                    <button type="button">-</button>
                  </div>
                </div>

                <div class="basket-price-box">Cena: 0€</div>
              </div>
            </div>
          </article>

          <article class="basket-item">
            <h2 class="basket-item-title">Názov Produktu</h2>

            <button class="basket-remove-btn">x</button>

            <div class="basket-item-content">
              <a href="pages/product-detail.html" class="basket-item-image-box">
                <img class="basket-item-image" src="assets/blue_t_shirt.png" alt="Product Photo"></img>
              </a>

              <div class="basket-item-details">
                <div class="basket-quantity-row">
                  <span class="basket-quantity-text">Množstvo: X</span>

                  <div class="basket-quantity-buttons">
                    <button type="button">+</button>
                    <button type="button">-</button>
                  </div>
                </div>

                <div class="basket-price-box">Cena: 0€</div>
              </div>
            </div>
          </article>
        </section>

        <section class="basket-summary">
          <div class="basket-total">Spolu: XY</div>

          <a
            class="basket-next-btn"
            href="pages/basket/basket_delivery_and_payment.html"
          >
            Pokračovať k doprave a platbe
          </a>
        </section>
      </main>
    </div>

    <div id="footer"></div>

    <script>
      loadComponent("header", "layout/header.html");
      loadComponent("sidebar", "layout/sidebar.html");
      loadComponent("footer", "layout/footer.html");
    </script>
  </body>
</html>

<style>
  @media (max-width: 830px) {
  .basket-header {
    flex-direction: column;
  }

  .basket-summary {
    flex-direction: column;
  }

  .basket-total {
    width: 356px;
    margin-top: 5px;
  }
}

@media (max-width: 460px) {
  .basket-total {
    width: 77vw;
  }

  .basket-next-btn {
    width: 77vw;
    padding: 12px 14px;
    font-size: 18px;
  }

  .basket-item-details {
    width: 52vw;
  }

  .basket-page {
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .basket-item {
    width: calc(52vw + 107px + 9px);
    padding: 14px 0 16px 5px;
  }
}
</style>
