<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../layout.css" />
    <link rel="stylesheet" href="category_pages.css" />
    <title>Category - Tricka</title>
  </head>
  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main>
        <div id="filters"></div>

        <section class="category-content">
          <div class="category-top">
            <h1>Tricka</h1>
            <div id="sort-box"></div>
          </div>

          <div class="category-products-grid"></div>

          <div id="pagination"></div>
        </section>
      </main>
    </div>

    <script>
      async function loadComponent(id, file) {
        const res = await fetch(file);
        document.getElementById(id).innerHTML = await res.text();
      }

      async function loadProducts(category) {
        const res = await fetch("products.json");
        const data = await res.json();

        const container = document.getElementsByClassName(
          "category-products-grid",
        );

        data[category].forEach((product) => {
          const item = document.createElement("div");
          item.innerHTML = `
              <a href="./product-detail.html" class="category-product-card">
                <div class="category-card-top">
                  <h3>${product.name}</h3>
                  <span class="category-price">${product.price}</span>
                </div>
                <div class="category-color">${product.color}</div>
                <div class="category-image">Fotka produktu</div>
              </a>
          `;
          container[0].appendChild(item);
        });
      }

      loadComponent("header", "../header.html");
      loadComponent("sidebar", "../sidebar.html");
      loadComponent("filters", "../category_filters.html");
      loadComponent("sort-box", "../category_sortbox.html");
      loadComponent("pagination", "../category_pagination.html");
      loadProducts("tricka");
    </script>
  </body>
</html>
