<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../layout.css" />
    <link rel="stylesheet" href="pages.css" />
    <title>3čko</title>
  </head>
  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main>
        <div class="login-page">
          <h1>Prihlásenie</h1>

          <div class="login-form">
            <div class="form-row">
              <label for="login-email">e-mail</label>
              <input type="email" id="login-email" />
            </div>

            <div class="form-row">
              <label for="login-password">heslo</label>
              <input type="password" id="login-password" />
            </div>
          </div>

          <p class="login-register-text">Nemáte účet?</p>

          <a href="./register.html" class="login-register-button"
            >Registrovať sa</a
          >
        </div>
      </main>
    </div>
  </body>
  <script>
    async function loadComponent(id, file) {
      const res = await fetch(file);
      document.getElementById(id).innerHTML = await res.text();
    }

    loadComponent("header", "../header.html");
    loadComponent("sidebar", "../sidebar.html");
  </script>
</html>

<style>
  main {
    text-align: center;
  }
</style>
