<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../layout.css" />
    <link rel="stylesheet" href="pages.css" />
    <title>Product detail</title>
  </head>
  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main class="product-detail-page">
        <h1>Product detail</h1>
        <p>Detail produktu</p>
      </main>
    </div>

    <script>
      async function loadComponent(id, file) {
        const res = await fetch(file);
        document.getElementById(id).innerHTML = await res.text();
      }

      loadComponent("header", "../header.html");
      loadComponent("sidebar", "../sidebar.html");
    </script>
  </body>
</html>
