<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../config.js"></script>
    <script src="../../utils.js"></script>
    <script>
      loadBasePath(BASE_PATH);
    </script>

    <link rel="stylesheet" href="layout/layout.css" />
    <link rel="stylesheet" href="variables.css" />
    <link rel="stylesheet" href="pages/auth/auth.css" />
    <title>3čko</title>
  </head>
  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main>
        <h1>Prihlásenie</h1>

        <div>
          <div class="form-row">
            <label for="login-email">e-mail</label>
            <input type="email" id="login-email" />
          </div>

          <div class="form-row">
            <label for="login-password">heslo</label>
            <input type="password" id="login-password" />
          </div>
        </div>

        <div class="login-register-container">
          <p>Nemáte účet?</p>

          <a href="pages/auth/register.html" class="login-register-button"
            >Registrovať sa</a
          >
        </div>
      </main>
    </div>
  </body>
  <script>
    loadComponent("header", "layout/header.html");
    loadComponent("sidebar", "layout/sidebar.html");
  </script>
</html>
