<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../config.js"></script>
    <script src="../../utils.js"></script>
    <script>
      loadBasePath(BASE_PATH);
    </script>
    <link rel="stylesheet" href="layout/layout.css" />
    <link rel="stylesheet" href="variables.css" />
    <link rel="stylesheet" href="pages/auth/auth.css" />
    <title>3čko</title>
  </head>
  <body>
    <div id="header"></div>

    <div class="main-content">
      <div id="sidebar"></div>

      <main>
        <h1>Registrácia</h1>

        <div>
          <div class="form-row">
            <label for="register-name">Meno</label>
            <input type="text" id="register-name" />
          </div>

          <div class="form-row">
            <label for="register-surname">Priezvisko</label>
            <input type="text" id="register-surname" />
          </div>

          <div class="form-row form-row-wide">
            <label for="register-email">e-mail</label>
            <input type="email" id="register-email" />
          </div>

          <div class="form-row">
            <label for="register-password">Heslo</label>
            <input type="password" id="register-password" />
          </div>
        </div>

        <a href="pages/auth/register.html" class="register-submit-button"
          >Registrovať sa</a
        >
      </main>
    </div>
  </body>
  <script>
    loadComponent("header", "layout/header.html");
    loadComponent("sidebar", "layout/sidebar.html");
  </script>
</html>
