<header class="header">
  <h1 class="logo"><a href="pages/index.html">3čko</a></h1>

  <div class="header-inner">
    <nav class="nav hover-underline">
      <a href="pages/auth/login.html">Prihlasenie</a>
      <div>|</div>
      <a href="pages/auth/register.html">Registracia</a>
      <!-- 
          if signed in show this link instead
          <a href="#">Moj Profil</a> 
          -->
    </nav>

    <div class="header-inner-right">
      <form action="pages/search_results.html">
        <input class="searchbar" type="text" placeholder="vyhladat..." />
      </form>
      <button class="basket-button">
        <a href="pages/basket/basket.html">Kosik🧺</a>
      </button>
    </div>
  </div>
</header>

<header class="header2">
  <div class="header2-inner-left">
    <button onclick="toggle_sidebar()">&nbsp;☰&nbsp;</button>
    <button>
      <a href="pages/auth/login.html">👤</a>
    </button>
  </div>

  <h1 class="logo"><a href="pages/index.html">3čko</a></h1>

  <div class="header2-inner-right">
    <button onclick="toggle_searchbar()">🔍</button>
    <button>
      <a href="pages/basket/basket.html">🛒</a>
    </button>
  </div>
</header>

<div class="search2">
  <form action="pages/search_results.html">
    <input type="text" placeholder="vyhladat..." />
  </form>
</div>
