<header class="header">
  <h1 class="logo"><a href="pages/index.html">3čko</a></h1>

  <div class="header-inner">
    <nav class="nav hover-underline">
      <a href="pages/auth/login.html">Prihlasenie</a>
      <div>|</div>
      <a href="pages/auth/register.html">Registracia</a>
      <!-- 
          if signed in show this link instead
          <a href="#">Moj Profil</a> 
          -->
    </nav>
    <div class="header-inner-right">
      <form action="pages/search_results.html">
        <input class="searchbar" type="text" placeholder="vyhladat..." />
      </form>
      <button class="basket-button">
        <a href="pages/basket/basket.html">Kosik🧺</a>
      </button>
    </div>
  </div>
</header>
