<aside class="sidebar">
  <ul class="category-selection hover-underline">
    <li><a href="pages/category_pages/category(Tricka).html">Tričká</a></li>
    <li><a href="pages/category_pages/category(Mikiny).html">Mikiny</a></li>
    <li><a href="pages/category_pages/category(Ciapky).html">Čiapky</a></li>
  </ul>

  <nav class="sidebar-nav hover-underline">
    <a href="pages/index.html">O nas</a>
    <a href="pages/index.html">Recenzie</a>
    <a href="pages/index.html">Reklamacia</a>
    <a href="pages/index.html">Kontakt</a>
  </nav>
</aside>
